Repository Finastra/finastra-nodejs-libs, pull requests merged in 2020-11, with the labels that each got.

#87 feat(oidc): user + other improvements
  .gitignore
  .prettierignore
  .prettierrc
  generate-typings.ts
  libs/ffdc-apis/corporate-accounts/README.md
  libs/ffdc-apis/corporate-accounts/package.json
  libs/ffdc-apis/corporate-accounts/src/corporate-accounts.graphql
  libs/oidc/CHANGELOG.md
  libs/oidc/README.md
  libs/oidc/package.json
  libs/oidc/src/assets/loggedout.html
  libs/oidc/src/assets/tenant-switch.html
  libs/oidc/src/controllers/auth-multitenant.controller.ts
  libs/oidc/src/controllers/auth.controller.spec.ts
  libs/oidc/src/controllers/auth.controller.ts
  libs/oidc/src/decorators/current-user.decorator.ts
  libs/oidc/src/interfaces/index.ts
  libs/oidc/src/interfaces/oidc-module-options.interface.ts
  libs/oidc/src/interfaces/user.interface.ts
  libs/oidc/src/middlewares/login.middleware.spec.ts
  libs/oidc/src/middlewares/login.middleware.ts
  libs/oidc/src/middlewares/user.middleware.ts
  libs/oidc/src/oidc.module.ts
  libs/oidc/src/services/oidc.service.spec.ts
  libs/oidc/src/services/oidc.service.ts
  libs/oidc/src/strategies/oidc.strategy.ts
  libs/oidc/src/utils/external-idps.ts
  libs/oidc/src/utils/merge-defaults.util.ts
  libs/oidc/src/utils/user-info.spec.ts
  libs/oidc/src/utils/user-info.ts
  libs/proxy/CHANGELOG.md
  libs/proxy/src/proxy.module.ts
  nest-cli.json
  package-lock.json
  package.json
  src/cats/interfaces/cat.interface.ts
  tsconfig.json
Labels: enhancement, oidc

#89 fix(oidc): fix current user decorator
  .github/workflows/develop.yml
  .github/workflows/pr-build.yml
  .github/workflows/release.yml
  libs/oidc/CHANGELOG.md
  libs/oidc/package.json
  libs/oidc/src/decorators/current-user.decorator.spec.ts
  libs/oidc/src/decorators/current-user.decorator.ts
Labels: bug, oidc

#91 Release oidc
  .github/workflows/develop.yml
  .github/workflows/pr-build.yml
  .github/workflows/release.yml
  libs/oidc/CHANGELOG.md
  libs/oidc/package.json
  libs/oidc/src/decorators/current-user.decorator.spec.ts
  libs/oidc/src/decorators/current-user.decorator.ts
Labels: oidc, release
