Repository Finastra/finastra-nodejs-libs, pull requests merged in 2021-11, with the labels that each got.

#200 Release oidc
  libs/oidc/CHANGELOG.md
  libs/oidc/README.md
  libs/oidc/package.json
  libs/oidc/src/controllers/auth-multitenant.controller.spec.ts
  libs/oidc/src/controllers/auth-multitenant.controller.ts
  libs/oidc/src/controllers/auth.controller.ts
  libs/oidc/src/guards/tenancy.guard.ts
  libs/oidc/src/guards/token.guard.spec.ts
  libs/oidc/src/guards/token.guard.ts
  libs/oidc/src/mocks.ts
  libs/oidc/src/services/oidc.service.ts
  libs/oidc/src/utils/has-decorator.ts
  libs/oidc/src/utils/index.ts
Labels: oidc, release

#203 Release oidc
  .github/workflows/release.yml
  libs/oidc/CHANGELOG.md
  libs/oidc/package.json
  libs/oidc/src/utils/session/base-session.spec.ts
  libs/oidc/src/utils/session/base-session.ts
Labels: oidc, release

#204 feat(proxy): remove possibility to make proxy calls without serviceId
  libs/proxy/CHANGELOG.md
  libs/proxy/README.md
  libs/proxy/package.json
  libs/proxy/src/services/proxy.service.spec.ts
  libs/proxy/src/services/proxy.service.ts
Labels: proxy

#208 fix(oidc): fix template loading to be compatible with webpack
  libs/oidc/CHANGELOG.md
  libs/oidc/package.json
  libs/oidc/src/services/oidc.service.spec.ts
  libs/oidc/src/services/oidc.service.ts
  libs/oidc/src/templates/login-popup.hbs.ts
  package-lock.json
  package.json
Labels: bug, oidc

#209 Release oidc
  libs/oidc/CHANGELOG.md
  libs/oidc/package.json
  libs/oidc/src/services/oidc.service.spec.ts
  libs/oidc/src/services/oidc.service.ts
  libs/oidc/src/templates/login-popup.hbs.ts
  package-lock.json
Labels: oidc, release
