Repository Finastra/finastra-nodejs-libs, pull requests merged in 2021-08, with the labels that each got.

#154 fix(oidc) Add missing request in httpexceptionfilter log
  libs/oidc/CHANGELOG.md
  libs/oidc/package.json
  libs/oidc/src/filters/http-exception.filter.ts
Labels: oidc, release

#155 fix(oidc): fix circular dependency, display request url on http filte…
  libs/oidc/CHANGELOG.md
  libs/oidc/package.json
  libs/oidc/src/filters/http-exception.filter.ts
  package-lock.json
  package.json
Labels: oidc

#156 fix(oidc): fix circular dependency, display request url on http filte…
  libs/oidc/CHANGELOG.md
  libs/oidc/package.json
  libs/oidc/src/filters/http-exception.filter.ts
  package-lock.json
  package.json
Labels: oidc, release

#158 Fix/missing request in log
  libs/oidc/CHANGELOG.md
  libs/oidc/package.json
  libs/oidc/src/filters/http-exception.filter.ts
Labels: oidc

#159 Release oidc
  libs/oidc/CHANGELOG.md
  libs/oidc/package.json
  libs/oidc/src/filters/http-exception.filter.ts
Labels: release

#164 Release oidc
  libs/oidc/CHANGELOG.md
  libs/oidc/package.json
  libs/oidc/src/services/oidc.service.ts
  package-lock.json
Labels: oidc, release

#165 fix(logger): fix err display
  libs/logger/CHANGELOG.md
  libs/logger/package.json
  libs/logger/src/oms/oms.logger.service.ts
Labels: bug, logger

#166 Release logger
  libs/logger/CHANGELOG.md
  libs/logger/package.json
  libs/logger/src/oms/oms.logger.service.ts
Labels: release, logger
