Repository Finastra/finastra-nodejs-libs, pull requests merged in 2021-09, with the labels that each got.

#173 fix(oidc): Fix tenant-switch to actually redirect to requested tenant
  libs/oidc/CHANGELOG.md
  libs/oidc/package.json
  package-lock.json
  package.json
Labels: bug, oidc

#174 Bugfix/tenant switch redirect
  libs/oidc/CHANGELOG.md
Labels: documentation, oidc

#172 Release oidc
  libs/oidc/CHANGELOG.md
  libs/oidc/package.json
  libs/oidc/src/guards/token.guard.ts
  package-lock.json
  package.json
Labels: oidc, release

#178 fix(oidc): refresh token response if no user and token guard not used
  libs/oidc/CHANGELOG.md
  libs/oidc/package.json
  libs/oidc/src/services/oidc.service.spec.ts
  libs/oidc/src/services/oidc.service.ts
Labels: bug, oidc

#179 Release OIDC
  libs/oidc/CHANGELOG.md
  libs/oidc/package.json
  libs/oidc/src/services/oidc.service.spec.ts
  libs/oidc/src/services/oidc.service.ts
  package-lock.json
Labels: oidc, release

#177 feat(all): upgrade to nest 8
  generate-typings.ts
  libs/ffdc-apis/corporate-accounts/CHANGELOG.md
  libs/ffdc-apis/corporate-accounts/package.json
  libs/ffdc-apis/corporate-accounts/src/interfaces/graphql.interface.ts
  libs/logger/CHANGELOG.md
  libs/logger/package.json
  libs/logger/src/interceptors/graphql.interceptor.spec.ts
  libs/logger/src/oms/oms.logger.service.ts
  libs/oidc/CHANGELOG.md
  libs/oidc/package.json
  libs/oidc/src/controllers/auth-multitenant.controller.ts
  libs/oidc/src/controllers/login-callback.controller.ts
  libs/oidc/src/middlewares/user.middleware.spec.ts
  libs/oidc/src/services/oidc.service.ts
  libs/oidc/src/strategies/oidc.strategy.spec.ts
  libs/oidc/src/utils/external-idps.spec.ts
  libs/oidc/src/utils/external-idps.ts
  libs/oidc/src/utils/setup-session.ts
  libs/proxy/CHANGELOG.md
  libs/proxy/package.json
  libs/proxy/src/controllers/proxy.controller.spec.ts
  libs/proxy/src/controllers/proxy.controller.ts
  libs/proxy/src/interfaces/proxy.interface.ts
  libs/proxy/src/proxy.constants.ts
  libs/proxy/src/proxy.module.spec.ts
  libs/proxy/src/proxy.module.ts
  libs/proxy/src/services/proxy.service.spec.ts
  libs/proxy/src/services/proxy.service.ts
  libs/proxy/src/utils/index.ts
  libs/proxy/src/utils/string.utils.spec.ts
  libs/proxy/src/utils/string.utils.ts
  libs/proxy/src/utils/url.utils.ts
  package-lock.json
  package.json
  tsconfig.json
Labels: dependencies, BREAKING CHANGE

#180 release
  generate-typings.ts
  libs/ffdc-apis/corporate-accounts/CHANGELOG.md
  libs/ffdc-apis/corporate-accounts/package.json
  libs/ffdc-apis/corporate-accounts/src/interfaces/graphql.interface.ts
  libs/logger/CHANGELOG.md
  libs/logger/package.json
  libs/logger/src/interceptors/graphql.interceptor.spec.ts
  libs/logger/src/oms/oms.logger.service.ts
  libs/oidc/CHANGELOG.md
  libs/oidc/package.json
  libs/oidc/src/controllers/auth-multitenant.controller.ts
  libs/oidc/src/controllers/login-callback.controller.ts
  libs/oidc/src/middlewares/user.middleware.spec.ts
  libs/oidc/src/services/oidc.service.ts
  libs/oidc/src/strategies/oidc.strategy.spec.ts
  libs/oidc/src/utils/external-idps.spec.ts
  libs/oidc/src/utils/external-idps.ts
  libs/oidc/src/utils/setup-session.ts
  libs/proxy/CHANGELOG.md
  libs/proxy/package.json
  libs/proxy/src/controllers/proxy.controller.spec.ts
  libs/proxy/src/controllers/proxy.controller.ts
  libs/proxy/src/interfaces/proxy.interface.ts
  libs/proxy/src/proxy.constants.ts
  libs/proxy/src/proxy.module.spec.ts
  libs/proxy/src/proxy.module.ts
  libs/proxy/src/services/proxy.service.spec.ts
  libs/proxy/src/services/proxy.service.ts
  libs/proxy/src/utils/index.ts
  libs/proxy/src/utils/string.utils.spec.ts
  libs/proxy/src/utils/string.utils.ts
  libs/proxy/src/utils/url.utils.ts
  package-lock.json
  package.json
  tsconfig.json
Labels: oidc, proxy, release, logger

#181 Feature/OIDC connect mongo
  README.md
  docker-compose.yaml
  libs/oidc/CHANGELOG.md
  libs/oidc/README.md
  libs/oidc/package-lock.json
  libs/oidc/package.json
  libs/oidc/src/services/oidc.service.ts
  libs/oidc/src/utils/index.ts
  libs/oidc/src/utils/session/base-session.ts
  libs/oidc/src/utils/session/index.ts
  libs/oidc/src/utils/session/session-in-memory.spec.ts
  libs/oidc/src/utils/session/session-in-memory.ts
  libs/oidc/src/utils/session/session-mongo.spec.ts
  libs/oidc/src/utils/session/session-mongo.ts
  libs/oidc/src/utils/setup-session.spec.ts
  libs/oidc/src/utils/setup-session.ts
  libs/oidc/tsconfig.lib.json
  package-lock.json
  package.json
  src/main.ts
  tsconfig.json
Labels: oidc

#182 Release oidc
  README.md
  docker-compose.yaml
  libs/oidc/CHANGELOG.md
  libs/oidc/README.md
  libs/oidc/package-lock.json
  libs/oidc/package.json
  libs/oidc/src/services/oidc.service.ts
  libs/oidc/src/utils/index.ts
  libs/oidc/src/utils/session/base-session.ts
  libs/oidc/src/utils/session/index.ts
  libs/oidc/src/utils/session/session-in-memory.spec.ts
  libs/oidc/src/utils/session/session-in-memory.ts
  libs/oidc/src/utils/session/session-mongo.spec.ts
  libs/oidc/src/utils/session/session-mongo.ts
  libs/oidc/src/utils/setup-session.spec.ts
  libs/oidc/src/utils/setup-session.ts
  libs/oidc/tsconfig.lib.json
  package-lock.json
  package.json
  src/main.ts
  tsconfig.json
Labels: oidc, release
